# CMake-related files
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Visual Studio files
*.sln
*.vcxproj*
.vs/
*.exe
*.obj
*.ilk
*.pdb
